@import "./deps.scss";
body {
  background-color: aquamarine;
  font-family: "Roboto", sans-serif;
}
.fade-enter {
  opacity: 0.1;
  transition: opacity 1250ms ease-in;
}
.fade-enter-active {
  opacity: 0.8;
  transition: opacity 1250ms ease-in;
}

.fade-enter-done {
  opacity: 1;
  transition: opacity 1250ms ease-in;
}
.fade-exit {
  opacity: 0.8;
  transition: opacity 1250ms ease-in;
}
.fade-exit-active {
  opacity: 0.1;
  transition: opacity 1250ms ease-in;
}
