@import "./deps.scss";
@import "./common.scss";

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.fade-enter {
  opacity: 0.1;
  height: 0%;
  width: 0%;
  transition: all 1250ms ease-in;
}
.fade-enter-active {
  opacity: 0.8;
  height: 100%;
  width: 100%;
  transition: all 1250ms ease-in;
}

.fade-enter-done {
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: all 1250ms ease-in;
}
.fade-exit {
  opacity: 0.8;
  height: 100%;
  width: 100%;
  transition: all 1250ms ease-in;
}
.fade-exit-active {
  opacity: 0.1;
  height: 0%;
  width: 0%;
  transition: all 1250ms ease-in;
}
